.Sell-container {
position: relative;
top: 20px;
margin: 30px;
padding: 30px;
max-width: 80% !important;
}


.fileInput
 {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
  










/* select input style */

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow:1px 1px 1px 1px rgb(119, 115, 115);
  overflow: hidden;
  position: relative;
}
.styled-select,
.styled-select select {
  width: 180px;
}
select:focus {
  outline: none;
}
.styled-select select {
  height: 30px;
  padding: 1px 0 1px 1px;
  background: white;
  border: none;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

@-moz-document url-prefix() {
  .styled-select select {
    width: 110%;
  }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

select::-ms-expand {
  display: none;
} /* hide default down arrow in IE10*/


