/* the Products Css start here */

        h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

        /********************* Shopping Demo-7 **********************/
        .product-grid7{font-family:'Roboto Slab',serif;position:relative;z-index:1}
        .product-grid7 .product-image7{border:1px solid rgba(0,0,0,.1);overflow:hidden;perspective:1500px;position:relative;transition:all .3s ease 0s}
        .product-grid7 .product-image7 a{display:block}
        .product-grid7 .product-image7 img{width:100%;height:auto}
        .product-grid7 .pic-1{opacity:1;transition:all .5s ease-out 0s}
        .product-grid7 .pic-2{opacity:0;transform:rotateY(-90deg);position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
        .product-grid7:hover .pic-2{opacity:1;transform:rotateY(0)}
        .product-grid7 .social{padding:0;margin:0;list-style:none;position:absolute;bottom:3px;left:-20%;z-index:1;transition:all .5s ease 0s}
        .product-grid7:hover .social{left:17px}
        .product-grid7 .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:15px 0;border-radius:50%;display:block;transition:all .5s ease-in-out}
        .product-grid7 .social li a:hover{color:#fff;background-color:#78e08f}
        .product-grid7 .product-new-label{color:#fff;background-color:rgb(204, 18, 18);padding:5px 10px;border-radius:5px;display:block;position:absolute;top:10px;left:10px}
        .product-grid7 .product-content{text-align:center;padding:20px 0 0;overflow: hidden;
                white-space: nowrap;        
                text-overflow: ellipsis;}
        .product-grid7 .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
        .product-grid7 .title a{color:#333}
        .product-grid7 .title a:hover{color:#78e08f}
        .product-grid7 .rating{color:#78e08f;font-size:12px;padding:0;margin:0 0 10px;list-style:none}
        .product-grid7 .price{color:#333;font-size:20px;font-family:Lora,serif;font-weight:700;margin-bottom:8px;text-align:center;transition:all .3s}
        .product-grid7 .price span{color:#999;font-size:14px;font-weight:700;text-decoration:line-through;margin-left:7px;display:inline-block}
        @media only screen and (max-width:990px){.product-grid7{margin-bottom:30px}
        }

/* Products Css end here */






/* Products modla  start */
        .product_view .modal-dialog{max-width: 800px; width: 100%;}
        .pre-cost{text-decoration: line-through; color: #a5a5a5;}
        .space-ten{padding: 10px 0;}
/* Products  modal end */









/* ImageZoom animation */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
.wordCarousel {
  background-color: black;
  padding: 20px;
  margin: 5px;
  width: 100%;
  font-size: 36px;
  font-weight: 100;
  font-family: Serif;
  color: rgb(255, 254, 254);
  font-weight: 700;
}
.wordCarousel div {
        
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel div li {
  font-family: Serif;
  color: rgb(255, 254, 254);
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip2 {
  -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
  -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
  -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}


        /* Why Scount word animation */
                .whyScount{
                        -webkit-animation: text-shadow-drop-center 2s infinite ;
                                animation: text-shadow-drop-center 2s infinite ;
                }
              

                @-webkit-keyframes text-shadow-drop-center {
                        0% {
                        text-shadow: 0 0 0 white;
                        }
                        100% {
                        text-shadow: 0 0 20px white;
                        }
                }
                @keyframes text-shadow-drop-center {
                        0% {
                        text-shadow: 0 0 0 wheat;
                        }
                        100% {
                        text-shadow: 0 0 20px wheat;
                        }
                }
      
        /*why Scount WOrd end */

/* Why scount Div animation end */
      
