
/* coco chanel box */
.btn-join {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;;
}

.btn-join:hover {
  opacity: 0.5;
  color: white !important;
}








/* video section */
header {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 22rem;
  }
  
  header video {
    position: relative;
    width: 100%;
    height: 100%; 
    margin: 5px;
  }

.section-2{
  margin: 20px;
  background-color:rgba(255, 228, 196, 0.74);
  /* background-color: #e6e6fa */
}
  /*end Video Section*/












  /* Products,women,men Carousel style start */
  @import url("https://fonts.googleapis.com/css?family=Montserrat:300");

  
  h1 {
    font-family: 'Montserrat';
  }
  
  .carousel-nav-icon {
    height: 120px;
    width: 48px;
  }
  
  .carousel-item .col, .carousel-item .col-sm, .carousel-item .col-md {
    margin: 8px;
    height: 400px;
    background-size: cover;
    background-position: center center;
  }









/*WomenBox with dress caption text in the middle  */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 40%;
  height: 10%;
  padding: 20px;
  text-align: center;
}





/* women and men shop header style */
.womenbox,.menbox ,.Secondhandbox{
  background-color: rgb(0,0,0); /* Fallback color */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  z-index: 2;
  width: 190px;
  height:75px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.my-5{
  background:  rgba(255, 228, 196, 0.74);;
}


.heartbeat {
	-webkit-animation: heartbeat 2s ease-in-out infinite both;
          animation: heartbeat 2s ease-in-out infinite both;
          font-size: 23px;
          font-weight: 800;
}


 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/*men shop header style */














  