/* the sldie profile nabvbar start */
.primary-nav {
  position: fixed;
  top: 305px;
  left: -10px;
  z-index: 999;
}


.menu {
  position: relative;
   display: block;
   left: -200px;
   top: 0;
   width: 250px;
   transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
   background-color: #000;
   z-index: 999;
 }
 
 .menu:hover {
   position: absolute;
   left: 0;
   top: 0;
 }
 
 

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.primary-nav .menu li {
  position: relative;
}

.menu .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  pointer-events: none;
  width: 24px;
  height: 24px;
  color: #fff;
}

.menu, .menu a, .menu a:visited {
  color: rgb(138, 135, 135);
  text-decoration: none!important;
  position: relative;
}

.menu a {
  display: block;
  white-space: nowrap;
  padding: 1em;
  font-size: 1.2rem;
}

.menu a:hover {
  color: #fff;
}


.menu-dropdown li .icon {
  color: #777;
}

.menu-dropdown li:hover .icon {
  color: #fff;
}



/* the sldie profile nabvbar end */