/* .overlay-slide {
	position: relative;
    box-sizing: border-box;
    height: 280px;
    width: 220px;
    overflow: hidden;
    float: left;
    margin: 10px;
}

.overlay-slide:hover div {
    transform: translate(0, 0);
	transition: all 0.2s ease-in;
}
.overlay-slide div {
	position: absolute;
    box-sizing: border-box;
    bottom: 0;
    transform: translate(0, 100%);
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    text-align:center;
    transition: all 0.2s ease-in;
}
.overlay-slide h2 {
	margin: 0;
    font-size: 18px;
    color: #eeeeee;
}
.overlay-slide p {
    font-size: 14px;
    color: #dddddd;
} */